/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace view "org.bigbluebutton.top.view.*";
@namespace ui "org.bigbluebutton.view.ui.*";
@namespace skins "org.bigbluebutton.view.skins.*";
@namespace common "org.bigbluebutton.view.navigation.pages.common.*";

s|Button
{
	chromeColor: #918E8E;
}

view|TopView.topView
{
	fontWeight: bold;
}

s|Button.toogleButton
{
	chromeColor: #A3A3A3;
}

global
{
	font-family: Verdana;
	vertical-align: middle;
	font-weight: normal;
	text-align: left;
	content-background-color: #FFFFFF;
	symbol-color: #F6F2F2;
	chrome-color: #0C0B0B;
}

@media (application-dpi: 160) {
	
	s|Label
	{
		paddingTop: 15;
		paddingBottom: 15;
	}
	
	s|Label.userDetailsLabelStyle
	{
		fontSize: 20;
		fontWeight: normal;
		height: 50;
		paddingTop: 10;
		paddingBottom: 10;
	}
	
	s|Label#noVideoMessage0
	{
		fontSize: 16;
		paddingLeft: 15;
		paddingRight: 15;
		textAlign: left;
		verticalCenter: 0;		
	}
	
	s|Label#noDeskshareMessage0
	{
		fontSize: 16;
		paddingLeft: 15;
		paddingRight: 15;
		paddingTop: 100;
		textAlign: center;
		verticalCenter: 0;	
		horizontalCenter: 0;
	}
	
	s|Label#labelDisplay
	{
		fontSize: 16;
		paddingLeft: 15;
		paddingRight: 15;
		fontWeight: bold;
		textAlign: left;
		verticalCenter: 0;	
	}
	
	s|Label#messageText0
	{
		fontSize: 20;
		horizontalCenter: 0;
		textAlign: center;
	}
	
	s|Label#userName
	{
		fontFamily: Georgia;
		fontSize: 18;
		textAlign: center;
		verticalAlign: middle;
		paddingTop: 15;
		paddingBottom: 15;		
	}
	
	s|Label#title
	{
		fontsize: 14;
	}
	
	ui|NavigationButton.presentationBtnStyle
	{	height:44;
		backgroundImage: Embed(source="assets/res/drawable-hdpi/presentation.png");	
	}
	
	ui|NavigationButton.chatBtnStyle
	{	height:44;
		backgroundImage: Embed(source="assets/res/drawable-hdpi/chat.png");
	}
	
	ui|NavigationButton.videochatBtnStyle
	{
		height:44;
		backgroundImage: Embed(source="assets/res/drawable-hdpi/video.png");
	}
	
	ui|NavigationButton.participantsBtnStyle
	{
		height:44;
		backgroundImage: Embed(source="assets/res/drawable-hdpi/participants.png");	
	}
	
	ui|NavigationButton.deskshareBtnStyle
	{
		height:44;
		backgroundImage: Embed(source="assets/res/drawable-hdpi/deskshare.png");
	}
	
	s|Button.logoutButtonStyle
	{
		height: 50; 
		chromeColor: #FFFFFF;
		skinClass: ClassReference("org.bigbluebutton.view.skins.LogoutButtonSkin");
	}
	
	s|Button.ProfileSettingsButtonStyle
	{
		height: 50; 
		skinClass: ClassReference("org.bigbluebutton.view.skins.ProfileSettingsButtonSkin");
	}
	
	s|Label.pageNameStyle
	{
		fontSize: 18;
		verticalCenter: 0;
		textAlign: center;
		horizontalCenter: 0;
	}
	
	ui|NavigationButton
	{
		imageScaleX: 0.4;
		imageScaleY: 0.4;
		height: 42;
		backgroundColor: #FFFFFF;
		selectedBackgroundColor: #918E8E;
		skinClass: ClassReference("org.bigbluebutton.view.skins.NavigationButtonSkin");
	}
	
	s|Button.profileButtonStyle
	{
		imageScaleX: 0.25;
		imageScaleY: 0.25;
		width: 44;
		height: 44;
		backgroundColor: #FFFFFF;
		strokeColor: #000000;
		strokeWeight: 1;
		backgroundImage: Embed(source="assets/res/drawable-hdpi/profile.png");
		skinClass: ClassReference("org.bigbluebutton.view.skins.ProfileButtonSkin");
	}
	
	s|Button#showCameraButton0, s|Button#showPrivateChat0, s|Button#exitButton0
	{
		height: 44;
		width:132;
		fillColor: #5C5C69;
		radiusX: 8;
		radiusY: 8;
		skinClass: ClassReference("org.bigbluebutton.view.skins.CommonButtonSkin");
	}
	
	s|Button.backButtonStyle
	{
		imageScaleX: 0.25;
		imageScaleY: 0.25;
		width: 44;
		height: 44;
		backgroundColor: #FFFFFF;
		strokeColor: #000000;
		strokeWeight: 1;
		backgroundImage: Embed(source="assets/res/drawable-hdpi/backButton.png");
		skinClass: ClassReference("org.bigbluebutton.view.skins.ProfileButtonSkin");
	}
	
	s|Button.selectedMicBtnStyle
	{
		imageScaleX: 0.25;
		imageScaleY: 0.25;
		width: 44;
		height: 44;
		backgroundColor: #918E8E;
		backgroundImage: Embed(source="assets/res/drawable-hdpi/microphone.png");
		skinClass: ClassReference("org.bigbluebutton.view.skins.MicrophoneButtonSkin");
	}
	
	s|Button.unselectedMicBtnStyle
	{
		imageScaleX: 0.25;
		imageScaleY: 0.25;
		width: 44;
		height: 44;
		backgroundColor: #FFFFFF;
		backgroundImage: Embed(source="assets/res/drawable-hdpi/microphone.png");
		skinClass: ClassReference("org.bigbluebutton.view.skins.MicrophoneButtonSkin");
	}
	
	s|Button.swapCameraButtonStyle
	{
		width: 44;
		height: 44;
		radiusX: 2;
		radiusY: 2;
		imageScaleX: 0.25;
		imageScaleY: 0.25;
		backgroundImage: Embed(source="assets/res/drawable-hdpi/SwapCamera_up.png");
		backgroundImageDown: Embed(source="assets/res/drawable-hdpi/SwapCamera_down.png");
		skinClass: ClassReference("org.bigbluebutton.view.skins.SwapCameraButtonSkin");
	}
	
	s|Button.cameraIconStyle
	{
		width: 30;
		height: 30;
		imageScaleX:0.25;
		imageScaleY:0.25;
		backgroundColor: #FFFFFF;
		backgroundImage: Embed(source="assets/res/drawable-hdpi/video.png");
		skinClass: ClassReference("org.bigbluebutton.view.skins.BorderlessButtonSkin");
	}
	
	s|Button.micIconStyle
	{
		width: 30;
		height: 30;
		imageScaleX: 0.25;
		imageScaleY: 0.25;
		backgroundImage: Embed(source="assets/res/drawable-hdpi/microphone.png");
		skinClass: ClassReference("org.bigbluebutton.view.skins.BorderlessButtonSkin");
	}
	
	s|Button.micOffIconStyle
	{
		width: 30;
		height: 30;
		imageScaleX: 0.25;
		imageScaleY: 0.25;
		backgroundImage: Embed(source="assets/res/drawable-hdpi/micOffIcon.png");
		skinClass: ClassReference("org.bigbluebutton.view.skins.BorderlessButtonSkin");
	}
	
	s|Button.soundIconStyle
	{
		width: 30;
		height: 30;
		imageScaleX: 0.25;
		imageScaleY: 0.25;
		backgroundImage: Embed(source="assets/res/drawable-hdpi/sound.png");
		skinClass: ClassReference("org.bigbluebutton.view.skins.BorderlessButtonSkin");
	}
	
	s|Button.profileIconStyle
	{
		width: 30;
		height: 30;
		imageScaleX: 0.25;
		imageScaleY: 0.25;
		backgroundImage: Embed(source="assets/res/drawable-hdpi/profile.png");
		skinClass: ClassReference("org.bigbluebutton.view.skins.BorderlessButtonSkin");
	}
	
	s|Button.presentationIconStyle
	{
		width: 30;
		height: 30;
		imageScaleX: 0.25;
		imageScaleY: 0.25;
		backgroundImage: Embed(source="assets/res/drawable-hdpi/presentation.png");
		skinClass: ClassReference("org.bigbluebutton.view.skins.BorderlessButtonSkin");
	}
	
	s|Button.handIconStyle
	{
		width: 30;
		height: 30;
		imageScaleX: 0.25;
		imageScaleY: 0.25;
		backgroundImage: Embed(source="assets/res/drawable-hdpi/hand.png");
		skinClass: ClassReference("org.bigbluebutton.view.skins.BorderlessButtonSkin");
	}
	
	s|Button.arrowRightStyle
	{
		width: 30;
		height: 30;
		imageScaleX: 0.25;
		imageScaleY: 0.25;
		backgroundImage: Embed(source="assets/res/drawable-hdpi/arrowRight.png");
		skinClass: ClassReference("org.bigbluebutton.view.skins.BorderlessButtonSkin");
	}
	
	s|Button.newMessagesButtonStyle
	{
		width: 30;
		height: 30;
		radiusX: 4;
		radiusY: 4;	
		fillColor: #3F403F;
		skinClass: ClassReference("org.bigbluebutton.view.skins.CommonButtonSkin");
	}
	
	s|RadioButton.radioButtonStyle
	{
		height: 50;
		width: 50;
		eclipseLeft: 10;
		eclipseRight: 10;
		eclipseTop: 10;
		eclipseBottom: 10;
		skinClass: ClassReference("org.bigbluebutton.view.skins.RadioButtonSkin");
	}
	
	s|Image.bbbLogoStyle
	{
		imageSource: Embed(source="assets/res/drawable-hdpi/ic_launcher.png");
		skinClass: ClassReference("org.bigbluebutton.view.skins.BBBLogoSkin");
	}
	
	s|Group.userDetailGroupStyle
	{
		height: 30;
	}	
	
	global
	{
		font-size: 14;
	}
}


@media (application-dpi: 240) {
	
	s|Label
	{
		paddingTop: 22;
		paddingBottom: 22;
	}
	
	s|Label.userDetailsLabelStyle
	{
		fontSize: 30;
		fontWeight: normal;
		height: 75;
		paddingTop: 15;
		paddingBottom: 15;
	}
	
	s|Label#noVideoMessage0
	{
		fontSize: 24;
		paddingLeft: 22;
		paddingRight: 22;
		textAlign: left;
		verticalCenter: 0;		
	}
	
	s|Label#noDeskshareMessage0
	{
		fontSize: 24;
		paddingLeft: 22;
		paddingRight: 22;
		paddingTop: 150;
		textAlign: center;
		verticalCenter: 0;	
		horizontalCenter: 0;
	}
	
	s|Label#labelDisplay
	{
		fontSize: 24;
		paddingLeft: 22;
		paddingRight: 22;
		fontWeight: bold;
		textAlign: left;
		verticalCenter: 0;		
	}
	
	s|Label#messageText0
	{
		fontSize: 30;
		horizontalCenter: 0;
		textAlign: center;
	}
	
	s|Label#userName
	{
		fontFamily: Georgia;
		fontSize: 28;
		textAlign: center;
		verticalAlign: middle;
		paddingTop: 22;
		paddingBottom: 22;
	}
	
	s|Label#title
	{
		fontsize: 22;
	}
	
	s|Button.logoutButtonStyle
	{
		height: 75; 
		chromeColor: #FFFFFF;
		skinClass: ClassReference("org.bigbluebutton.view.skins.LogoutButtonSkin");
	}
	
	s|Button#showCameraButton0, s|Button#showPrivateChat0, s|Button#exitButton0
	{
		height: 66;
		width:198;
		radiusX: 12;
		radiusY: 12;
		fillColor: #5C5C69;
		skinClass: ClassReference("org.bigbluebutton.view.skins.CommonButtonSkin");
	}
	
	s|Button.ProfileSettingsButtonStyle
	{
		height: 75; 
		skinClass: ClassReference("org.bigbluebutton.view.skins.ProfileSettingsButtonSkin");
	}
	
	s|Label.pageNameStyle
	{
		fontSize: 28;
		verticalCenter: 0;
		textAlign: center;
		horizontalCenter: 0;
	}
	
	ui|NavigationButton.presentationBtnStyle
	{	
		height:66;
		backgroundImage: Embed(source="assets/res/drawable-mdpi/presentation.png");	
	}
	
	ui|NavigationButton.chatBtnStyle
	{	
		height:66;
		backgroundImage: Embed(source="assets/res/drawable-mdpi/chat.png");
	}
	
	ui|NavigationButton.videochatBtnStyle
	{
		height:66;
		backgroundImage: Embed(source="assets/res/drawable-mdpi/video.png");
	}
	
	ui|NavigationButton.participantsBtnStyle
	{
		height:66;
		backgroundImage: Embed(source="assets/res/drawable-mdpi/participants.png");	
	}
	
	ui|NavigationButton.deskshareBtnStyle
	{
		height:66;
		backgroundImage: Embed(source="assets/res/drawable-mdpi/deskshare.png");
	}
	
	ui|NavigationButton
	{
		imageScaleX: 0.4;
		imageScaleY: 0.4;
		height: 64;
		backgroundColor: #FFFFFF;
		selectedBackgroundColor: #918E8E;
		skinClass: ClassReference("org.bigbluebutton.view.skins.NavigationButtonSkin");
	}
	
	s|Button.profileButtonStyle
	{
		imageScaleX: 0.25;
		imageScaleY: 0.25;
		width: 66;
		height: 66;
		strokeColor: #000000;
		backgroundColor: #FFFFFF;
		strokeWeight: 1.5;
		backgroundImage: Embed(source="assets/res/drawable-mdpi/profile.png");
		skinClass: ClassReference("org.bigbluebutton.view.skins.ProfileButtonSkin");
	}
	
	s|Button.backButtonStyle
	{
		imageScaleX: 0.25;
		imageScaleY: 0.25;
		width: 66;
		height: 66;
		strokeColor: #000000;
		backgroundColor: #FFFFFF;
		strokeWeight: 1.5;
		backgroundImage: Embed(source="assets/res/drawable-mdpi/backButton.png");
		skinClass: ClassReference("org.bigbluebutton.view.skins.ProfileButtonSkin");
	}
	
	s|Button.selectedMicBtnStyle
	{
		imageScaleX: 0.25;
		imageScaleY: 0.25;
		width: 66;
		height: 66;
		backgroundColor: #918E8E;
		backgroundImage: Embed(source="assets/res/drawable-mdpi/microphone.png");
		skinClass: ClassReference("org.bigbluebutton.view.skins.MicrophoneButtonSkin");
	}
	
	s|Button.unselectedMicBtnStyle
	{
		imageScaleX: 0.25;
		imageScaleY: 0.25;
		width: 66;
		height: 66;
		backgroundColor: #FFFFFF;
		backgroundImage: Embed(source="assets/res/drawable-mdpi/microphone.png");
		skinClass: ClassReference("org.bigbluebutton.view.skins.MicrophoneButtonSkin");
	}
	
	s|Button.swapCameraButtonStyle
	{
		width: 66;
		height: 66;
		radiusX: 2;
		radiusY: 2;
		imageScaleX: 0.25;
		imageScaleY: 0.25;
		backgroundImage: Embed(source="assets/res/drawable-mdpi/SwapCamera_up.png");
		backgroundImageDown: Embed(source="assets/res/drawable-mdpi/SwapCamera_down.png");
		skinClass: ClassReference("org.bigbluebutton.view.skins.SwapCameraButtonSkin");
	}
	
	s|Button.cameraIconStyle
	{
		width: 45;
		height: 45;
		imageScaleX: 0.25;
		imageScaleY: 0.25;
		backgroundColor: #FFFFFF;
		backgroundImage: Embed(source="assets/res/drawable-mdpi/video.png");
		skinClass: ClassReference("org.bigbluebutton.view.skins.BorderlessButtonSkin");
	}
	
	s|Button.micIconStyle
	{
		width: 45;
		height: 45;
		imageScaleX: 0.25;
		imageScaleY: 0.25;
		backgroundImage: Embed(source="assets/res/drawable-mdpi/microphone.png");
		skinClass: ClassReference("org.bigbluebutton.view.skins.BorderlessButtonSkin");
	}
	
	s|Button.micOffIconStyle
	{
		width: 45;
		height: 45;
		imageScaleX: 0.25;
		imageScaleY: 0.25;
		backgroundImage: Embed(source="assets/res/drawable-mdpi/micOffIcon.png");
		skinClass: ClassReference("org.bigbluebutton.view.skins.BorderlessButtonSkin");
	}
	
	s|Button.soundIconStyle
	{
		width: 45;
		height: 45;
		imageScaleX: 0.25;
		imageScaleY: 0.25;
		backgroundImage: Embed(source="assets/res/drawable-mdpi/sound.png");
		skinClass: ClassReference("org.bigbluebutton.view.skins.BorderlessButtonSkin");
	}
	
	s|Button.profileIconStyle
	{
		width: 45;
		height: 45;
		imageScaleX: 0.25;
		imageScaleY: 0.25;
		backgroundImage: Embed(source="assets/res/drawable-mdpi/profile.png");
		skinClass: ClassReference("org.bigbluebutton.view.skins.BorderlessButtonSkin");
	}
	
	s|Button.presentationIconStyle
	{
		width: 45;
		height: 45;
		imageScaleX: 0.25;
		imageScaleY: 0.25;
		backgroundImage: Embed(source="assets/res/drawable-mdpi/presentation.png");
		skinClass: ClassReference("org.bigbluebutton.view.skins.BorderlessButtonSkin");
	}
	
	s|Button.handIconStyle
	{
		width: 45;
		height: 45;
		imageScaleX: 0.25;
		imageScaleY: 0.25;
		backgroundImage: Embed(source="assets/res/drawable-mdpi/hand.png");
		skinClass: ClassReference("org.bigbluebutton.view.skins.BorderlessButtonSkin");
	}
	
	s|Button.arrowRightStyle
	{
		width: 45;
		height: 45;
		imageScaleX: 0.25;
		imageScaleY: 0.25;
		backgroundImage: Embed(source="assets/res/drawable-mdpi/arrowRight.png");
		skinClass: ClassReference("org.bigbluebutton.view.skins.BorderlessButtonSkin");
	}
	
	s|Button.newMessagesButtonStyle
	{
		width: 45;
		height: 45;
		radiusX: 6;
		radiusY: 6;	
		fillColor: #3F403F;
		skinClass: ClassReference("org.bigbluebutton.view.skins.CommonButtonSkin");
	}
	
	s|RadioButton.radioButtonStyle
	{
		height: 75;
		width: 75;
		eclipseLeft: 15;
		eclipseRight: 15;
		eclipseTop: 15;
		eclipseBottom: 15;
		skinClass: ClassReference("org.bigbluebutton.view.skins.RadioButtonSkin");
	}
	
	s|Image.bbbLogoStyle
	{
		imageSource: Embed(source="assets/res/drawable-mdpi/ic_launcher.png");
		skinClass: ClassReference("org.bigbluebutton.view.skins.BBBLogoSkin");
	}
	
	s|Group.userDetailGroupStyle
	{
		height: 45;
	}	
	
	global
	{
		font-size: 22;
	}
}

@media (application-dpi: 320) {
	
	s|Label
	{
		paddingTop: 34;
		paddingBottom: 34;
	}
	
	s|Label.userDetailsLabelStyle
	{
		fontSize: 40;
		fontWeight: normal;
		height: 100;
		paddingTop: 20;
		paddingBottom: 20;
	}
	
	s|Label#noVideoMessage0
	{
		fontSize: 36;
		paddingLeft: 34;
		paddingRight: 34;
		textAlign: left;
		verticalCenter: 0;	
	}
	
	s|Label#noDeskshareMessage0
	{
		fontSize: 36;
		paddingLeft: 34;
		paddingRight: 34;
		paddingTop: 200;
		textAlign: center;
		verticalCenter: 0;	
		horizontalCenter: 0;
	}
	
	s|Label#labelDisplay
	{
		fontSize: 36;
		paddingLeft: 34;
		paddingRight: 34;
		fontWeight: bold;
		textAlign: left;
		verticalCenter: 0;	
	}
	
	s|Label#messageText0
	{
		fontSize: 45;
		horizontalCenter: 0;
		textAlign: center;
	}
	
	s|Label#userName
	{
		fontFamily: Georgia;
		fontSize: 42;
		textAlign: center;
		verticalAlign: middle;
		paddingTop: 30;
		paddingBottom: 30;
	}
	
	s|Label#title
	{
		fontsize: 28;
	}
	
	s|Button.logoutButtonStyle
	{
		height: 90; 
		chromeColor: #FFFFFF;
		skinClass: ClassReference("org.bigbluebutton.view.skins.LogoutButtonSkin");
	}
	
	s|Button#showCameraButton0, s|Button#showPrivateChat0, s|Button#exitButton0
	{
		height: 88;
		width:264;
		radiusX: 16;
		radiusY: 16;
		fillColor: #5C5C69;
		skinClass: ClassReference("org.bigbluebutton.view.skins.CommonButtonSkin");
	}
	
	s|Button.ProfileSettingsButtonStyle
	{
		height: 90; 
		skinClass: ClassReference("org.bigbluebutton.view.skins.ProfileSettingsButtonSkin");
	}
	
	s|Label.pageNameStyle
	{
		fontSize: 36;
		verticalCenter: 0;
		textAlign: center;
		horizontalCenter: 0;
	}
	
	ui|NavigationButton.presentationBtnStyle
	{	
		height:88;
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/presentation.png");	
	}
	
	ui|NavigationButton.chatBtnStyle
	{	
		height:88;
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/chat.png");
	}
	
	ui|NavigationButton.videochatBtnStyle
	{
		height:88;
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/video.png");
	}
	
	ui|NavigationButton.participantsBtnStyle
	{
		height:88;
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/participants.png");	
	}
	
	ui|NavigationButton.deskshareBtnStyle
	{
		height:88;
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/deskshare.png");
	}
	
	ui|NavigationButton
	{
		imageScaleX: 0.4;
		imageScaleY: 0.4;
		height: 96;
		backgroundColor: #FFFFFF;
		selectedBackgroundColor: #918E8E;
		skinClass: ClassReference("org.bigbluebutton.view.skins.NavigationButtonSkin");
	}
	
	s|Button.profileButtonStyle
	{
		imageScaleX: 0.25;
		imageScaleY: 0.25;
		width: 88;
		height: 88;
		backgroundColor: #FFFFFF;
		strokeColor: #000000;
		strokeWeight: 2;
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/profile.png");
		skinClass: ClassReference("org.bigbluebutton.view.skins.ProfileButtonSkin");
	}
	
	s|Button.backButtonStyle
	{
		imageScaleX: 0.25;
		imageScaleY: 0.25;
		width: 88;
		height: 88;
		strokeColor: #000000;
		backgroundColor: #FFFFFF;
		strokeWeight: 2;
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/backButton.png");
		skinClass: ClassReference("org.bigbluebutton.view.skins.ProfileButtonSkin");
	}
	
	s|Button.selectedMicBtnStyle
	{
		imageScaleX: 0.25;
		imageScaleY: 0.25;
		width: 88;
		height: 88;
		backgroundColor: #918E8E;
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/microphone.png");
		skinClass: ClassReference("org.bigbluebutton.view.skins.MicrophoneButtonSkin");
	}
	
	s|Button.unselectedMicBtnStyle
	{
		imageScaleX: 0.25;
		imageScaleY: 0.25;
		width: 88;
		height: 88;
		backgroundColor: #FFFFFF;
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/microphone.png");
		skinClass: ClassReference("org.bigbluebutton.view.skins.MicrophoneButtonSkin");
	}
	
	s|Button.swapCameraButtonStyle
	{
		width: 88;
		height: 88;
		radiusX: 3;
		radiusY: 3;
		imageScaleX: 0.25;
		imageScaleY: 0.25;
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/SwapCamera_up.png");
		backgroundImageDown: Embed(source="assets/res/drawable-xhdpi/SwapCamera_down.png");
		skinClass: ClassReference("org.bigbluebutton.view.skins.SwapCameraButtonSkin");
	}
	
	s|Button.cameraIconStyle
	{
		width: 60;
		height: 60;
		imageScaleX: 0.25;
		imageScaleY: 0.25;
		backgroundColor: #FFFFFF;
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/video.png");
		skinClass: ClassReference("org.bigbluebutton.view.skins.BorderlessButtonSkin");
	}
	
	s|Button.micIconStyle
	{
		width: 60;
		height: 60;
		imageScaleX: 0.25;
		imageScaleY: 0.25;
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/microphone.png");
		skinClass: ClassReference("org.bigbluebutton.view.skins.BorderlessButtonSkin");
	}
	
	s|Button.micOffIconStyle
	{
		width: 60;
		height: 60;
		imageScaleX: 0.25;
		imageScaleY: 0.25;
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/micOffIcon.png");
		skinClass: ClassReference("org.bigbluebutton.view.skins.BorderlessButtonSkin");
	}
	
	s|Button.soundIconStyle
	{
		width: 60;
		height: 60;
		imageScaleX: 0.25;
		imageScaleY: 0.25;
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/sound.png");
		skinClass: ClassReference("org.bigbluebutton.view.skins.BorderlessButtonSkin");
	}
	
	s|Button.profileIconStyle
	{
		width: 60;
		height: 60;
		imageScaleX: 0.25;
		imageScaleY: 0.25;
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/profile.png");
		skinClass: ClassReference("org.bigbluebutton.view.skins.BorderlessButtonSkin");
	}
			
	s|Button.presentationIconStyle
	{
		width: 60;
		height: 60;
		imageScaleX: 0.25;
		imageScaleY: 0.25;
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/presentation.png");
		skinClass: ClassReference("org.bigbluebutton.view.skins.BorderlessButtonSkin");
	}
	
	s|Button.handIconStyle
	{
		width: 60;
		height: 60;
		imageScaleX: 0.25;
		imageScaleY: 0.25;
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/hand.png");
		skinClass: ClassReference("org.bigbluebutton.view.skins.BorderlessButtonSkin");
	}
	
	s|Button.arrowRightStyle
	{
		width: 60;
		height: 60;
		imageScaleX: 0.25;
		imageScaleY: 0.25;
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/arrowRight.png");
		skinClass: ClassReference("org.bigbluebutton.view.skins.BorderlessButtonSkin");
	}
	
	s|Button.newMessagesButtonStyle
	{
		width: 60;
		height: 60;
		radiusX: 8;
		radiusY: 8;	
		fillColor: #3F403F;
		skinClass: ClassReference("org.bigbluebutton.view.skins.CommonButtonSkin");
	}
	
	s|RadioButton.radioButtonStyle
	{
		height: 112;
		width: 112;
		eclipseLeft: 20;
		eclipseRight: 20;
		eclipseTop: 20;
		eclipseBottom: 20;
		skinClass: ClassReference("org.bigbluebutton.view.skins.RadioButtonSkin");
	}
	
	s|Image.bbbLogoStyle
	{
		imageSource: Embed(source="assets/res/drawable-xhdpi/ic_launcher.png");
		skinClass: ClassReference("org.bigbluebutton.view.skins.BBBLogoSkin");
	}
	
	s|Group.userDetailGroupStyle
	{
		height: 60;
	}	
	
	global
	{
		font-size: 34;
	}
}

@media (application-dpi: 480) {
	
	s|Label
	{
		paddingTop: 45;
		paddingBottom: 45;
	}
	
	s|Label.userDetailsLabelStyle
	{
		fontSize: 60;
		fontWeight: normal;
		height: 150;
		paddingTop: 30;
		paddingBottom: 30;
	}
	
	s|Label#noVideoMessage0
	{
		fontSize: 48;
		paddingLeft: 45;
		paddingRight: 45;
		textAlign: left;
		verticalCenter: 0;		
	}
	
	s|Label#noDeskshareMessage0
	{
		fontSize: 48;
		paddingLeft: 45;
		paddingRight: 45;
		paddingTop: 300;
		textAlign: center;
		verticalCenter: 0;	
		horizontalCenter: 0;
	}
	
	s|Label#labelDisplay
	{
		fontSize: 48;
		paddingLeft: 45;
		paddingRight: 45;
		fontWeight: bold;
		textAlign: left;
		verticalCenter: 0;	
	}
	
	s|Label#messageText0
	{
		fontSize: 60;
		horizontalCenter: 0;
		textAlign: center;
	}
	
	s|Label#userName
	{
		fontFamily: Georgia;
		fontSize: 54;
		textAlign: center;
		verticalAlign: middle;
		paddingTop: 45;
		paddingBottom: 45;		
	}
	
	s|Label#title
	{
		fontsize: 42;
	}
	
	ui|NavigationButton.presentationBtnStyle
	{	height:132;
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/presentation.png");	
	}
	
	ui|NavigationButton.chatBtnStyle
	{	height:132;
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/chat.png");
	}
	
	ui|NavigationButton.videochatBtnStyle
	{
		height:132;
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/video.png");
	}
	
	ui|NavigationButton.participantsBtnStyle
	{
		height:132;
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/participants.png");		
	}
	
	ui|NavigationButton.deskshareBtnStyle
	{
		height:132;
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/deskshare.png");
	}
	
	s|Button.logoutButtonStyle
	{
		height: 150; 
		chromeColor: #FFFFFF;
		skinClass: ClassReference("org.bigbluebutton.view.skins.LogoutButtonSkin");
	}
	
	s|Button#showCameraButton0, s|Button#showPrivateChat0, s|Button#exitButton0
	{
		height: 132;
		width:396;
		radiusX: 24;
		radiusY: 24;
		fillColor: #5C5C69;
		skinClass: ClassReference("org.bigbluebutton.view.skins.CommonButtonSkin");
	}
	
	s|Button.ProfileSettingsButtonStyle
	{
		height: 150; 
		skinClass: ClassReference("org.bigbluebutton.view.skins.ProfileSettingsButtonSkin");
	}
	
	s|Label.pageNameStyle
	{
		fontSize: 54;
		verticalCenter: 0;
		textAlign: center;
		horizontalCenter: 0;
	}
	
	ui|NavigationButton
	{
		imageScaleX: 0.4;
		imageScaleY: 0.4;
		height: 126;
		backgroundColor: #FFFFFF;
		selectedBackgroundColor: #918E8E;
		skinClass: ClassReference("org.bigbluebutton.view.skins.NavigationButtonSkin");
	}
	
	s|Button.profileButtonStyle
	{
		imageScaleX: 0.25;
		imageScaleY: 0.25;
		width: 132;
		height: 132;
		backgroundColor: #FFFFFF;
		strokeColor: #000000;
		strokeWeight: 4;
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/profile.png");
		skinClass: ClassReference("org.bigbluebutton.view.skins.ProfileButtonSkin");
	}
	
	s|Button.backButtonStyle
	{
		imageScaleX: 0.25;
		imageScaleY: 0.25;
		width: 132;
		height: 132;
		strokeColor: #000000;
		backgroundColor: #FFFFFF;
		strokeWeight: 4;
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/backButton.png");
		skinClass: ClassReference("org.bigbluebutton.view.skins.ProfileButtonSkin");
	}
	
	s|Button.selectedMicBtnStyle
	{
		imageScaleX: 0.25;
		imageScaleY: 0.25;
		width: 132;
		height: 132;
		backgroundColor: #918E8E;
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/microphone.png");
		skinClass: ClassReference("org.bigbluebutton.view.skins.MicrophoneButtonSkin");
	}
	
	s|Button.unselectedMicBtnStyle
	{
		imageScaleX: 0.25;
		imageScaleY: 0.25;
		width: 132;
		height: 132;
		backgroundColor: #FFFFFF;
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/microphone.png");
		skinClass: ClassReference("org.bigbluebutton.view.skins.MicrophoneButtonSkin");
	}
	
	s|Button.swapCameraButtonStyle
	{
		width: 132;
		height: 132;
		radiusX: 2;
		radiusY: 2;
		imageScaleX: 0.25;
		imageScaleY: 0.25;
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/SwapCamera_up.png");
		backgroundImageDown: Embed(source="assets/res/drawable-xxhdpi/SwapCamera_down.png");
		skinClass: ClassReference("org.bigbluebutton.view.skins.SwapCameraButtonSkin");
	}
	
	s|Button.cameraIconStyle
	{
		width: 90;
		height: 90;
		imageScaleX:0.25;
		imageScaleY:0.25;
		backgroundColor: #FFFFFF;
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/video.png");
		skinClass: ClassReference("org.bigbluebutton.view.skins.BorderlessButtonSkin");
	}
	
	s|Button.micIconStyle
	{
		width: 90;
		height: 90;
		imageScaleX: 0.25;
		imageScaleY: 0.25;
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/microphone.png");
		skinClass: ClassReference("org.bigbluebutton.view.skins.BorderlessButtonSkin");
	}
	
	s|Button.micOffIconStyle
	{
		width: 90;
		height: 90;
		imageScaleX: 0.25;
		imageScaleY: 0.25;
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/micOffIcon.png");
		skinClass: ClassReference("org.bigbluebutton.view.skins.BorderlessButtonSkin");
	}
	
	s|Button.soundIconStyle
	{
		width: 90;
		height: 90;
		imageScaleX: 0.25;
		imageScaleY: 0.25;
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/sound.png");
		skinClass: ClassReference("org.bigbluebutton.view.skins.BorderlessButtonSkin");
	}
	
	s|Button.profileIconStyle
	{
		width: 90;
		height: 90;
		imageScaleX: 0.25;
		imageScaleY: 0.25;
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/profile.png");
		skinClass: ClassReference("org.bigbluebutton.view.skins.BorderlessButtonSkin");
	}
	
	s|Button.presentationIconStyle
	{
		width: 90;
		height: 90;
		imageScaleX: 0.25;
		imageScaleY: 0.25;
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/presentation.png");
		skinClass: ClassReference("org.bigbluebutton.view.skins.BorderlessButtonSkin");
	}
	
	s|Button.handIconStyle
	{
		width: 90;
		height: 90;
		imageScaleX: 0.25;
		imageScaleY: 0.25;
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/hand.png");
		skinClass: ClassReference("org.bigbluebutton.view.skins.BorderlessButtonSkin");
	}
	
	s|Button.arrowRightStyle
	{
		width: 90;
		height: 90;
		imageScaleX: 0.25;
		imageScaleY: 0.25;
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/arrowRight.png");
		skinClass: ClassReference("org.bigbluebutton.view.skins.BorderlessButtonSkin");
	}
	
	s|Button.newMessagesButtonStyle
	{
		width: 90;
		height: 90;
		radiusX: 12;
		radiusY: 12;	
		fillColor: #3F403F;
		skinClass: ClassReference("org.bigbluebutton.view.skins.CommonButtonSkin");
	}	
	
	s|Image.bbbLogoStyle
	{
		imageSource: Embed(source="assets/res/drawable-xxhdpi/ic_launcher.png");
		skinClass: ClassReference("org.bigbluebutton.view.skins.BBBLogoSkin");
	}
	
	s|RadioButton.radioButtonStyle
	{
		height: 150;
		width: 150;
		eclipseLeft: 30;
		eclipseRight: 30;
		eclipseTop: 30;
		eclipseBottom: 30;
		skinClass: ClassReference("org.bigbluebutton.view.skins.RadioButtonSkin");
	}
	
	s|Group.userDetailGroupStyle
	{
		height: 90;
	}	
	
	global
	{
		font-size: 42;
	}
}

