/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace view "org.bigbluebutton.top.view.*";
@namespace ui "org.bigbluebutton.view.ui.*";
@namespace skins "org.bigbluebutton.view.skins.*";
@namespace common "org.bigbluebutton.view.navigation.pages.common.*";

s|Group.videoTextFieldStyle
{
	color: #FFFFFF;
}

s|Button.sendButtonStyle
{
	skinClass: ClassReference("org.bigbluebutton.view.skins.SendMsgBtnSkin");
}

s|SkinnableContainer.topToolBarStyle
{
	gradientColorTop: #4A4C58;
	gradientColorBottom: #43434B;
	skinClass: ClassReference("org.bigbluebutton.view.skins.TopToolBarSkin");
}

ui|NavigationButton
{
	backgroundColor: #F4F4F4;
	strokeColor: #CCCCCC;
	selectedBackgroundColor: #DBDBDB;
	skinClass: ClassReference("org.bigbluebutton.view.skins.NavigationButtonSkin");
}

s|Button.cameraSettingsButtonStyle
{
	backgroundColor: #FFFFFF;
	strokeColor: #C8CCC8;
	onClickBackgroundColor: #918E8E;
	imageScaleX: 0.6;
	imageScaleY: 0.6;
	skinClass: ClassReference("org.bigbluebutton.view.skins.CameraSettingsButtonSkin");
}

s|Label.userDetailsLabelStyle
{
	color: #BEBEBE;
	verticalAlign: middle;
}

s|RichEditableText.msgTextStyle, s|Label.chatNameColor
{
	color: #777777;
}

s|Label.chatTimeColor
{
	color: #C3C3C3;
}

s|Button.logoutButtonStyle
{
	backgroundColor: #3385FF;
	textColor: #FFFFFF;
}

s|Button.userSettingsButtonStyle
{
	buttonLabelAlign: center;
	skinClass: ClassReference("org.bigbluebutton.view.skins.userSettingsButtonSkin");
}

s|Button.userSettingsRaseHandButtonStyle
{
	backgroundColor: #FFFFFF;
	textColor: #000000;
	buttonLabelAlign:left;
}

s|Button.userNameLableStyle
{
	backgroundColor: #FFFFFF;
	textColor: #000000;
}

s|Button.profileSettingsButtonStyle,s|Button.audioSettingsButtonStyle
{
	labelTextAlign:left;
	backgroundColor:#FFFFFF;
	onClickBackgroundColor:#918E8E;
	skinClass: ClassReference("org.bigbluebutton.view.skins.ProfileSettingsButtonSkin");
}

s|Label.pageNameStyle
{
	textAlign: center;
	color: #FFFFFF;
}

s|Button.topButtonStyle
{
	gradientColorTop:#4A4C58;
	gradientColorBottom:#43434B;
	selectedGradientColorTop:#454852;
	selectedGradientColorBottom:#393942;
	skinClass: ClassReference("org.bigbluebutton.view.skins.TopButtonSkin");
}

s|Button.commonButtonStyle
{
	fillColor: #5C5C69;
	textColor: #FFFFFF;
	skinClass: ClassReference("org.bigbluebutton.view.skins.CommonButtonSkin");
}

s|Button.newMessagesButtonStyle
{
	fillColor: #777777;
	textColor: #FFFFFF;
	skinClass: ClassReference("org.bigbluebutton.view.skins.CommonButtonSkin");
}

s|RadioButton
{
	skinClass: ClassReference("org.bigbluebutton.view.skins.RadioButtonSkin");
}

s|Image.bbbLogoStyle
{
	skinClass: ClassReference("org.bigbluebutton.view.skins.BBBLogoSkin");
}

s|Image.iconStyle
{
	skinClass: ClassReference("org.bigbluebutton.view.skins.IconSkin");
}

s|View.deviderLineStyle, s|View.userDetailviewStyle
{
	lineColor: #000000;
	textColor: #BEBEBE;
}

s|SkinnableContainer.containerStyle
{
	fillColor: #FFFFFF;
	skinClass: ClassReference("org.bigbluebutton.view.skins.ProfileViewContainerSkin");
}

s|Application.mainshellStyle
{
	toolBarColorTop: #4A4C58;
	toolBarColorBottom: #43434B;
	imageScaleX:0.6;
	imageScaleY:0.6;
}

global
{
	font-family: Myriad Pro;
	vertical-align: middle;
	font-weight: normal;
	text-align: left;
	content-background-color: #FFFFFF;
	symbol-color: #F6F2F2;
	chrome-color: #0C0B0B;
}

@media (application-dpi: 160) {
	
	s|Application.mainshellStyle
	{
		toolBarHeight:48;
		topButtonWidth: 48;
		bottomToolBarHeight:48;
		recordingStatusImage: "assets/res/drawable-mdpi/media_record.png";
	}
	
	s|Label.chatNameTimeStyle
	{
		paddingLeft:6;
		paddingRight:6;
		paddingBottom:6;
	}
	
	s|RichEditableText.msgTextStyle
	{
		paddingLeft:12;
		paddingRight:12;
		paddingBottom:12;
	}
	
	s|Label.disconnectMsgStyle
	{
		paddingBottom:40;
		paddingTop:40;
	}
	
	s|Button.cameraSettingsButtonStyle
	{
		height: 40;
		strokeWeight: 0.1;
		radiusX: 2;
		radiusY: 2;
		imageAlign:10;
	}
	
	s|Button.cameraSettingsStartButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/video.png");
	}
	
	s|Button.cameraSettingsSwapButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/SwapCamera_up.png");
	}
	
	s|View.viewStyle
	{
		lineWeight: 2;
		topPadding: 20;
		weight:0.1;
	}
	
	s|Label.chatRoomLabelStyle,s|Label.selectParticipantLabelStyle
	{
		paddingLeft:6;
		paddingTop:20;
		paddingBottom:20;
	}
	
	s|TextInput.msgInputBoxStyle
	{
		paddingRight:40;
	}
	
	s|Button.sendButtonStyle
	{		
		backgroundImage: Embed(source="assets/res/drawable-mdpi/sendMsgIcon.png");
	}
	
	s|Label.pageNameStyle
	{
		fontSize:18;
	}
	
	.contentFontSize
	{
		fontSize:16;
	}
	
	.subContentFontSize
	{
		fontSize:14;
	}
	
	s|ItemRenderer.participantItemStyle
	{
		itemHeight:64;
		lineColor: #F2F2F2;
		lineWeight:0.5;
		itemPaddingLeft:6;
		itemPaddingRight:6;
	}
	
	s|Group.videoTextFieldStyle
	{
		fontSize:10;
		indent: 20;
		loadingImageSource: "assets/res/drawable-mdpi/videoLoading.png";
	}
	
	s|View.deviderLineStyle
	{
		lineWeight: 0.2;
	}
	
	s|View.chatViewStyle
	{
		chatInputTextHeight:48;
		btnWidth:40;
	}
	
	s|View.userDetailviewStyle
	{
		lineWeight: 0.5;
		showCameraButtonPaddingTop:40;
	}
	
	s|SkinnableContainer.containerStyle
	{
		weight: 2;
		radiusX: 4;
		radiusY: 4;
		top: 5;
		bottom: 5;
	}
	
	s|Label.userDetailsLabelStyle
	{
		height: 50;
		paddingTop: 10;
		paddingBottom: 10;
		paddingLeft:20;
	}
	
	ui|NavigationButton
	{
		strokeWeight: 0.1;
	}
	
	ui|NavigationButton.presentationBtnStyle
	{	
		backgroundImage: Embed(source="assets/res/drawable-mdpi/presentation.png");	
	}
	
	ui|NavigationButton.chatBtnStyle
	{	
		backgroundImage: Embed(source="assets/res/drawable-mdpi/chat.png");
	}
	
	ui|NavigationButton.videochatBtnStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/video.png");
	}
	
	ui|NavigationButton.participantsBtnStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/participants.png");	
	}
	
	ui|NavigationButton.deskshareBtnStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/deskshare.png");
	}

	s|Button.userSettingsButtonStyle
	{
		height: 50; 
		weight: 0.1;
		radiusX:2;
		radiusY:2;
	}
	
	s|Button.logoutButtonStyle,s|Button.profileSettingsButtonStyle
	{
		height: 50;
		weight: 0.1;
		radiusX:2;
		radiusY:2;
		imageAlign:10;
		backgroundImage: Embed(source="assets/res/drawable-mdpi/arrowRight.png");
	}
	
	s|Button.audioSettingsButtonStyle
	{
		height: 60;
		weight: 0.1;
		radiusX:2;
		radiusY:2;
		imageAlign:10;
	}
	
	s|Button.audioSettingsShareMicButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/microphone.png");
	}
	
	s|Button.audioSettingsListenOnlyButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/sound.png");
	}
	
	s|Label.pageNameStyle
	{
		fontSize: 18;
	}
	
	s|Button.topButtonStyle
	{
		width: 30;
		height: 30;
		strokeWeight: 1;
	}
	
>>>>>>> ce67a3e8ef496f74f5edf14a89a5a175228c75b0
	s|Button.profileButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/participants.png");
	}
	
	s|Button.commonButtonStyle
	{
		height: 44;
		width: 132;
		radiusX: 8;
		radiusY: 8;
		textFontSize:16;
		labelPaddingTop:2;
	}
	
	s|Button.backButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/backButton.png");
	}
	
	s|Button.micButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/micBtn_on.png");
		mutedBackgroundImage: Embed(source="assets/res/drawable-mdpi/micBtn_off.png");
	}
	
	s|Button.swapCameraButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/SwapCamera_up.png");
	}
	
	s|Image.iconStyle
	{
		width: 30;
		height: 30;
	}
	
	s|Image.cameraIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/video.png");
	}
	
	s|Image.micIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/microphone.png");
	}
	
	s|Image.listenOnlyIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/listenOnly.png");
	}
	
	s|Image.micOffIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/micOffIcon_dark.png");
	}
	
	s|Image.soundIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/sound.png");
	}
	
	s|Image.moderatorIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/profile.png");
	}
	
	s|Image.presentationIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/presentation.png");
	}
	
	s|Image.handIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/hand.png");
	}
	
	s|Image.arrowRightStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/arrowRight.png");
	}
	
	s|Button.newMessagesButtonStyle
	{
		width: 38;
		height: 30;
		radiusX: 4;
		radiusY: 4;
		textFontSize:16;
		labelPaddingTop:2;
	}
	
	s|RadioButton
	{
		height: 40;
		width: 40;
		eclipseLeft: 10;
		eclipseRight: 10;
		eclipseTop: 10;
		eclipseBottom: 10;
	}
	
	s|Image.bbbLogoStyle
	{
		imageSource: Embed(source="assets/res/drawable-mdpi/ic_launcher.png");
	}
}


@media (application-dpi: 240) {
	
	s|Application.mainshellStyle
	{
		toolBarHeight:72;
		topButtonWidth: 72;
		bottomToolBarHeight:72;
		recordingStatusImage: "assets/res/drawable-hdpi/media_record.png";
	}
	
	s|Label.chatNameTimeStyle
	{
		paddingLeft:9;
		paddingRight:9;
		paddingBottom:9;
	}
	
	s|RichEditableText.msgTextStyle
	{
		paddingLeft:18;
		paddingRight:18;
		paddingBottom:18;
	}
	
<<<<<<< HEAD
	s|Label.disconnectMsgStyle
	{
		paddingBottom: 60;
		paddingTop:60;
=======
	s|Button.cameraSettingsButtonStyle
	{
		height: 60;
		strokeWeight: 0.15;
		radiusX: 3;
		radiusY: 3;
		imageAlign:15;
	}
	
	s|Button.cameraSettingsStartButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/video.png");
	}
	
	s|Button.cameraSettingsSwapButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/SwapCamera_up.png");
	}
	
	s|View.viewStyle
	{
		lineWeight: 3;
		topPadding: 30;
		weight:0.15;
>>>>>>> ce67a3e8ef496f74f5edf14a89a5a175228c75b0
	}
	
	s|Label.chatRoomLabelStyle,s|Label.selectParticipantLabelStyle
	{
<<<<<<< HEAD
		paddingLeft:9;
		paddingTop:30;
		paddingBottom:30;
=======
		weight: 0.15;
		radiusX: 6;
		radiusY: 6;
		top: 8;
		bottom: 8;
>>>>>>> ce67a3e8ef496f74f5edf14a89a5a175228c75b0
	}
	
	s|TextInput.msgInputBoxStyle
	{
		paddingRight:60;
	}
	
	s|Button.sendButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/sendMsgIcon.png");
	}
	
	s|Label.pageNameStyle
	{
		fontSize:27;
	}
	
	.contentFontSize
	{
		fontSize:24;
	}
	
	.subContentFontSize
	{
		fontSize:21;
	}
	
	s|ItemRenderer.participantItemStyle
	{
		itemHeight:96;
		lineColor: #F2F2F2;
		lineWeight:0.75;
		itemPaddingLeft:9;
		itemPaddingRight:9;
	}
	
	s|Group.videoTextFieldStyle
	{
		fontSize:15;
		indent: 30;
		loadingImageSource: "assets/res/drawable-hdpi/videoLoading.png";
	}
	
	s|View.deviderLineStyle
	{
		lineWeight: 0.3;
	}
	
<<<<<<< HEAD
	s|View.userDetailviewStyle
	{
		lineWeight: 0.75;
		showCameraButtonPaddingTop:60;
=======
	s|Button.userSettingsButtonStyle
	{
		height: 75; 
		weight: 0.15;
		radiusX:3;
		radiusY:3;
>>>>>>> ce67a3e8ef496f74f5edf14a89a5a175228c75b0
	}
	
	s|View.chatViewStyle
	{
		chatInputTextHeight:72;
		btnWidth:60;
	}
	
	s|SkinnableContainer.containerStyle
	{
		weight: 3;
		radiusX: 6;
		radiusY: 6;
		top: 8;
		bottom: 8;
	}
	
	s|Label.userDetailsLabelStyle
	{
		height: 75;
		paddingTop: 15;
		paddingBottom: 15;
		paddingLeft:30;
	}
	
	s|Button.logoutButtonStyle,s|Button.profileSettingsButtonStyle
	{
		height: 75;
		weight: 0.15;
		radiusX:3;
		radiusY:3;
		imageAlign:15;
		backgroundImage: Embed(source="assets/res/drawable-hdpi/arrowRight.png");
	}
	
	s|Button.audioSettingsButtonStyle
	{
		height: 90;
		weight: 0.15;
		radiusX:3;
		radiusY:3;
		imageAlign:15;
	}
	
	s|Button.audioSettingsShareMicButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/microphone.png");
	}
	
	s|Button.audioSettingsListenOnlyButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/sound.png");
	}
	
	s|Button.commonButtonStyle
	{
		height: 66;
		width:198;
		radiusX: 12;
		radiusY: 12;
		textFontSize:24;
		labelPaddingTop:3;
	}
	
	ui|NavigationButton
	{
		strokeWeight: 0.15;
	}
	
	ui|NavigationButton.presentationBtnStyle
	{	
		backgroundImage: Embed(source="assets/res/drawable-hdpi/presentation.png");	
	}
	
	ui|NavigationButton.chatBtnStyle
	{	
		backgroundImage: Embed(source="assets/res/drawable-hdpi/chat.png");
	}
	
	ui|NavigationButton.videochatBtnStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/video.png");
	}
	
	ui|NavigationButton.participantsBtnStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/participants.png");	
	}
	
	ui|NavigationButton.deskshareBtnStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/deskshare.png");
	}
	
	s|Button.profileButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/participants.png");
	}
	
	s|Button.backButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/backButton.png");
	}
	
	s|Button.micButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/micBtn_on.png");
		mutedBackgroundImage: Embed(source="assets/res/drawable-hdpi/micBtn_off.png");
	}
	
	s|Button.swapCameraButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/SwapCamera_up.png");
	}
	
	s|Image.iconStyle
	{
		width: 45;
		height: 45;
	}
	
	s|Image.cameraIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/video.png");
	}
	
	s|Image.micIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/microphone.png");
	}
	
	s|Image.micOffIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/micOffIcon_dark.png");
	}
	
	s|Image.listenOnlyIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/listenOnly.png");
	}
	
	s|Image.soundIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/sound.png");
	}
	
	s|Image.moderatorIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/profile.png");
	}
	
	s|Image.presentationIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/presentation.png");
	}
	
	s|Image.handIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/hand.png");
	}
	
	s|Image.arrowRightStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/arrowRight.png");
	}
	
	s|Button.newMessagesButtonStyle
	{
		width: 45;
		height: 45;
		radiusX: 6;
		radiusY: 6;
		textFontSize:24;
		labelPaddingTop:3;
	}
	
	s|RadioButton
	{
		height: 60;
		width: 60;
		eclipseLeft: 15;
		eclipseRight: 15;
		eclipseTop: 15;
		eclipseBottom: 15;
	}
	
	s|Image.bbbLogoStyle
	{
		imageSource: Embed(source="assets/res/drawable-hdpi/ic_launcher.png");
	}
}

@media (application-dpi: 320) {
	
	s|Application.mainshellStyle
	{
		toolBarHeight:96;
		topButtonWidth: 96;
		bottomToolBarHeight:96;
		recordingStatusImage: "assets/res/drawable-xhdpi/media_record.png";
	}
	
	s|Label.chatNameTimeStyle
	{
		paddingLeft:12;
		paddingRight:12;
		paddingBottom:12;
	}
	
	s|RichEditableText.msgTextStyle
	{
		paddingLeft:24;
		paddingRight:24;
		paddingBottom:24;
	}
	
	s|Label.disconnectMsgStyle
	{
		paddingBottom: 80;
		paddingTop:80;
	}
	
	s|Label.chatRoomLabelStyle,s|Label.selectParticipantLabelStyle
	{
		paddingLeft:12;
		paddingTop:40;
		paddingBottom:40;
	}
	
<<<<<<< HEAD
	s|TextInput.msgInputBoxStyle
	{
		paddingRight:80;
=======
	s|Button.cameraSettingsButtonStyle
	{
		height: 80;
		strokeWeight: 0.2;
		radiusX: 4;
		radiusY: 4;
		imageAlign:20;
	}
	
	s|Button.cameraSettingsStartButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/video.png");
	}
	
	s|Button.cameraSettingsSwapButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/SwapCamera_up.png");
	}
	
	s|View.viewStyle
	{
		lineWeight: 4;
		topPadding: 40;
		weight:0.2;
>>>>>>> ce67a3e8ef496f74f5edf14a89a5a175228c75b0
	}
	
	s|Button.sendButtonStyle
	{
<<<<<<< HEAD
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/sendMsgIcon.png");
=======
		weight: 0.2;
		radiusX: 8;
		radiusY: 8;
		top: 10;
		bottom: 10;
>>>>>>> ce67a3e8ef496f74f5edf14a89a5a175228c75b0
	}
	
	s|Label.pageNameStyle
	{
		fontSize:36;
	}
	
	.contentFontSize
	{
		fontSize:32;
	}
	
	.subContentFontSize
	{
		fontSize:28;
	}
	
	s|ItemRenderer.participantItemStyle
	{
		itemHeight:128;
		lineColor: #F2F2F2;
		lineWeight:1;
		itemPaddingLeft:12;
		itemPaddingRight:12;
	}
	
	s|Group.videoTextFieldStyle
	{
		fontSize:20;
		indent: 40;
		loadingImageSource: "assets/res/drawable-xhdpi/videoLoading.png";
	}
	
	s|View.deviderLineStyle
	{
		lineWeight: 0.4;
	}
	
	s|View.userDetailviewStyle
	{
		lineWeight: 1;
		showCameraButtonPaddingTop:80;
	}
	
<<<<<<< HEAD
	s|View.chatViewStyle
	{
		chatInputTextHeight:96;
		btnWidth:80;
=======
	s|Button.userSettingsButtonStyle
	{
		height: 90; 
		weight: 0.2;
		radiusX:4;
		radiusY:4;
>>>>>>> ce67a3e8ef496f74f5edf14a89a5a175228c75b0
	}
	
	s|SkinnableContainer.containerStyle
	{
		weight: 4;
		radiusX: 8;
		radiusY: 8;
		top: 10;
		bottom: 10;
	}
	
	s|Label.userDetailsLabelStyle
	{
		height: 100;
		paddingTop: 20;
		paddingBottom: 20;
		paddingLeft:40;
	}
	
	s|Button.logoutButtonStyle,s|Button.profileSettingsButtonStyle
	{
		height: 90; 
		weight: 0.2;
		radiusX:4;
		radiusY:4;
		imageAlign:20;
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/arrowRight.png");
	}
	
	s|Button.audioSettingsButtonStyle
	{
		height: 120;
		weight: 0.2;
		radiusX:4;
		radiusY:4;
		imageAlign:20;
	}
	
	s|Button.audioSettingsShareMicButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/microphone.png");
	}
	
	s|Button.audioSettingsListenOnlyButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/sound.png");
	}
	
	s|Button.commonButtonStyle
	{
		height: 88;
		width:264;
		radiusX: 16;
		radiusY: 16;
		textFontSize:32;
		labelPaddingTop:4;
	}
	
	ui|NavigationButton
	{
		strokeWeight: 0.2;
	}
	
	ui|NavigationButton.presentationBtnStyle
	{	
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/presentation.png");	
	}
	
	ui|NavigationButton.chatBtnStyle
	{	
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/chat.png");
	}
	
	ui|NavigationButton.videochatBtnStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/video.png");
	}
	
	ui|NavigationButton.participantsBtnStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/participants.png");	
	}
	
	ui|NavigationButton.deskshareBtnStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/deskshare.png");
	}

	s|Button.profileButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/participants.png");
	}
	
	s|Button.backButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/backButton.png");
	}
	
	s|Button.micButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/micBtn_on.png");
		mutedBackgroundImage: Embed(source="assets/res/drawable-xhdpi/micBtn_off.png");
	}
	
	s|Button.swapCameraButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/SwapCamera_up.png");
	}
	
	s|Image.iconStyle
	{
		width: 60;
		height: 60;
	}
	
	s|Image.cameraIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/video.png");
	}
	
	s|Image.micIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/microphone.png");
	}
	
	s|Image.micOffIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/micOffIcon_dark.png");
	}
	
	s|Image.listenOnlyIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/listenOnly.png");
	}
	
	s|Image.soundIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/sound.png");
	}
	
	s|Image.moderatorIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/profile.png");
	}
	
	s|Image.handIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/hand.png");
	}
	
	s|Image.arrowRightStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/arrowRight.png");
	}
	
	s|Button.newMessagesButtonStyle
	{
		width: 50;
		height: 40;
		radiusX: 8;
		radiusY: 8;
		textFontSize:32;
		labelPaddingTop:4;
	}
	
	s|RadioButton
	{
		height: 80;
		width: 80;
		eclipseLeft: 20;
		eclipseRight: 20;
		eclipseTop: 20;
		eclipseBottom: 20;
	}
	
	s|Image.bbbLogoStyle
	{
		imageSource: Embed(source="assets/res/drawable-xhdpi/ic_launcher.png");
	}
}

@media (application-dpi: 480) {
	
	s|Application.mainshellStyle
	{
		toolBarHeight:144;
		topButtonWidth: 144;
		bottomToolBarHeight:144;
		recordingStatusImage: "assets/res/drawable-xxhdpi/media_record.png";
	}
	
	s|Label.chatNameTimeStyle
	{
		paddingLeft:18;
		paddingRight:18;
		paddingBottom:18;
	}
	
	s|RichEditableText.msgTextStyle
	{
		paddingLeft:36;
		paddingRight:36;
		paddingBottom:36;
	}
	
	s|Label.disconnectMsgStyle
	{
		paddingBottom: 120;
		paddingTop:120;
	}
	
	s|Label.chatRoomLabelStyle,s|Label.selectParticipantLabelStyle
	{
		paddingLeft:18;
		paddingTop:60;
		paddingBottom:60;
	}
	
	s|TextInput.msgInputBoxStyle
	{
		paddingRight:120;
	}
	
	s|Button.sendButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/sendMsgIcon.png");
	}
	
	s|Button.cameraSettingsButtonStyle
	{
		height: 120;
		strokeWeight: 0.3;
		radiusX: 6;
		radiusY: 6;
		imageAlign:30;
	}
	
	s|Button.cameraSettingsStartButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/video.png");
	}
	
	s|Button.cameraSettingsSwapButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/SwapCamera_up.png");
	}
	
	s|View.viewStyle
	{
		lineWeight: 6;
		topPadding: 60;
		weight:0.3;
	}
	
	s|Label.pageNameStyle
	{
		fontSize:54;
	}
	
	.contentFontSize
	{
		fontSize:48;
	}
	
	.subContentFontSize
	{
		fontSize:42;
	}
	
	s|ItemRenderer.participantItemStyle
	{
		itemHeight:192;
		lineColor: #F2F2F2;
		lineWeight:1.5;
		itemPaddingLeft:18;
		itemPaddingRight:18;
	}
	
	s|Group.videoTextFieldStyle
	{
		fontSize:30;
		indent: 60;
		loadingImageSource: "assets/res/drawable-xxhdpi/videoLoading.png";
	}
	
	s|View.deviderLineStyle
	{
		lineWeight: 0.6;
	}
	
	s|View.userDetailviewStyle
	{
		lineWeight: 1.5;
		showCameraButtonPaddingTop:120;
	}
	
	s|View.chatViewStyle
	{
		chatInputTextHeight:144;
		btnWidth:120;
	}
	
	s|SkinnableContainer.containerStyle
	{
		weight: 6;
		radiusX: 12;
		radiusY: 12;
		top: 15;
		bottom: 15;
	}
	
	s|Label.userDetailsLabelStyle
	{
		height: 150;
		paddingTop: 30;
		paddingBottom: 30;
		paddingLeft:60;
	}
	
	ui|NavigationButton
	{
		strokeWeight: 0.3;
	}
	
	ui|NavigationButton.presentationBtnStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/presentation.png");	
	}
	
	ui|NavigationButton.chatBtnStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/chat.png");
	}
	
	ui|NavigationButton.videochatBtnStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/video.png");
	}
	
	ui|NavigationButton.participantsBtnStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/participants.png");		
	}
	
	ui|NavigationButton.deskshareBtnStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/deskshare.png");
	}
	
	s|Button.userSettingsButtonStyle
	{
		height: 150; 
		weight: 0.3;
		radiusX:6;
		radiusY:6;
	}
	
	s|Button.commonButtonStyle
	{
		height: 132;
		width:396;
		radiusX: 24;
		radiusY: 24;
	}
	
	s|Button.logoutButtonStyle,s|Button.profileSettingsButtonStyle
	{
		height: 150; 
		weight: 0.3;
		radiusX:6;
		radiusY:6;
		imageAlign:30;
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/arrowRight.png");
	}
	
	s|Button.audioSettingsButtonStyle
	{
		height: 180;
		weight: 0.3;
		radiusX:6;
		radiusY:6;
		imageAlign:30;
	}
	
	s|Button.audioSettingsShareMicButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/microphone.png");
	}
	
	s|Button.audioSettingsListenOnlyButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/sound.png");
	}
	
	s|Label.pageNameStyle
	{
		fontSize: 54;
	}
	
	s|Button.topButtonStyle
	{
		width: 90;
		height: 90;
		strokeWeight: 3;
	}
	
	s|Button.profileButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/participants.png");
	}
	
	s|Button.backButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/backButton.png");
	}
	
	s|Button.micButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/micBtn_on.png");
		mutedBackgroundImage: Embed(source="assets/res/drawable-xxhdpi/micBtn_off.png");
	}
	
	s|Button.swapCameraButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/SwapCamera_up.png");
	}
	
	s|Image.iconStyle
	{
		width: 90;
		height: 90;
	}
	
	s|Image.cameraIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/video.png");
	}
	
	s|Image.micIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/microphone.png");
	}
	
	s|Image.micOffIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/micOffIcon_dark.png");
	}
	
	s|Image.listenOnlyIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/listenOnly.png");
	}
	
	s|Image.soundIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/sound.png");
	}
	
	s|Image.moderatorIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/profile.png");
	}
	
	s|Image.presentationIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/presentation.png");
	}
	
	s|Image.handIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/hand.png");
	}
	
	s|Image.arrowRightStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/arrowRight.png");
	}
	
	s|Button.newMessagesButtonStyle
	{
		width: 75;
		height: 60;
		radiusX: 12;
		radiusY: 12;
		textFontSize:48;
		labelPaddingTop:6;
	}
	
	s|Image.bbbLogoStyle
	{
		imageSource: Embed(source="assets/res/drawable-xxhdpi/ic_launcher.png");
	}
	
	s|RadioButton
	{
		height: 120;
		width: 120;
		eclipseLeft: 30;
		eclipseRight: 30;
		eclipseTop: 30;
		eclipseBottom: 30;
	}
}