/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace view "org.bigbluebutton.top.view.*";
@namespace ui "org.bigbluebutton.view.ui.*";
	
s|Group
{
	
}

s|Button.swapCameraButtonStyle
{
	skinClass: ClassReference("org.bigbluebutton.view.skins.SwapCameraButtonSkin");
}

view|TopView.topView
{
	fontWeight: bold;
}

s|Button.toogleButton
{
	chromeColor: #A3A3A3;
}

ui|MicButton.microfone:selected
{
	skin: Embed("assets/imgs/fake/microphone.png");
}

ui|MicButton.microfone:unselected
{
	skin: Embed("assets/imgs/fake/microphone-off.png");
}

global
{
	font-family: Verdana;
	font-size: 14;
	vertical-align: middle;
	font-weight: normal;
	text-align: left;
}